.kontakt {
    width: 100%;
    height: calc(100vh - 70px);
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kontakt form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.kontakt input {
    border-radius: 15px;
    border: 1px #000 solid;
    height: 35px;
    width: 400px;
    padding: 5px 10px;
}

.kontakt label {
    padding-left: 10px;
}

.kontakt textarea {
    border-radius: 15px;
    border: 1px #000 solid;
    height: 200px;
    width: 400px;
    padding: 5px 10px;

}

.info {
    width: 100%;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    font-size: 20px;
}

.info__card {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.map__card {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    flex-direction: column;
}

.map__card__top {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

/* TODO: responzivita */