@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background: #f7f7f7;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    font-size: 24px;
    background-color: #fff;
}

header ul {
    width: 100%;
    height: 100%;
    display: flex;
    list-style: none;
}

header li {
    flex-grow: 1;
    width: calc(100% / 5);
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 40px;
    margin-top: 10px;
}

header a {
    text-decoration: none;
    color: #000;
    transition: all 0.3s;
}

header a:hover {
    scale: 1.1;
}

footer {
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder {
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 800px) {
    header {
        position: static;
        height: auto;
        padding-bottom: 12px;
        row-gap: 5px;
    }

    header ul {
        flex-direction: column;
        align-items: center;
    }

    header li:has(img) {
        order: -1;
    }
}