.container {
    height: calc(100vh - 140px);
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

label {
    margin-left: 10px;
}

input {
    width: 300px;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 15px;
}

textarea {
    width: 300px;
    height: 200px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 15px;
}

button {
    align-self: center;
    width: 150px;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s all;
}

button:hover {
    background-color: #f5f5f5;
    scale: 1.05;
}