.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.onas {
    margin-top: 70px;
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.onas img {
    max-width: 800px;
}

.clenove {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 60px;
    padding-bottom: 100px;
}

.clen {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.clen img {
    max-width: 260px;
    margin: 10px 0;
}

@media screen and (max-width: 1200px) {
    .clenove {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .onas {
        height: 70vh;
    }
}

@media screen and (max-width: 900px) {
    .clenove {
        grid-template-columns: 1fr 1fr;
    }

    .onas img {
        max-width: 600px;
    }

    .onas {
        height: 40vh;
    }
}

@media screen and (max-width: 600px) {
    .clenove {
        grid-template-columns: 1fr;
    }

    .onas img {
        max-width: 400px;
    }

    .onas {
        height: 30vh;
    }
}
